<section>
  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div >

      <!-- Put all search box filters in here!!! -->
      <div class="panel panel-default">
        <div class="panel-heading">Sök Bostad:</div>
        <div class="panel-body filterPanel">
      		<form>

      		  <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
              <label>Stad:  </label>
      		    <input type="text" ng-model="bostadFilters.bostadData.stad" class="form-control" placeholder="Sök efter stad...">

      		  </div>
            <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
              <label>Antal Rum:  </label>
              <input type="text" ng-model="bostadFilters.bostadData.rum" class="form-control" placeholder="Sök efter antal rum...">
            </div>
      		  <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      		  <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
              <label>Pris: </label>
              <div class="input-group">
                <input type="number" ng-model="bostadPrisFilter.prisKlass[0]" class="form-control" aria-describedby="min-pris" placeholder="Min Pris">
                <span class="input-group-addon" id="to-price">Till: </span>
                <input type="number" ng-model="bostadPrisFilter.prisKlass[1]" class="form-control" aria-describedby="max-pris" placeholder="Max Pris">
              </div>
            </div>

            <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
              <label>Yta: </label>
              <div class="input-group">
                <input type="number" ng-model="bostadYta_m2Filter.yta_m2Klass[0]" class="form-control" aria-describedby="min-yta_m2" placeholder="Min Yta">
                <span class="input-group-addon">Till: </span>
                <input type="number" ng-model="bostadYta_m2Filter.yta_m2Klass[1]" class="form-control" aria-describedby="max-yta_m2" placeholder="Max Yta">
              </div>
            </div>

            <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
              <label>Välj bostadstyp: </label>
                <select ng-model="bostadFilters.bostadData.bostadstyp" class="form-control">
                  <option value="">All</option>
                  <option value="lägenhet">Lägenhet</option>
                  <option value="villa">Villa</option>
                  <option value="radhus">Radhus</option>
                  <option value="tomt">Tomt</option>
                </select>
            </div>

      		</form>
        </div>
      </div>
    </div>
	</div>


  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
     <!--  <div class="panel-heading"></div>   -->
      <table class="table ">
        <tr class="">
          <th class="bostadTitle bostadTableHeader">Fastigheter:</th>
          <th class="bostadTableHeader">Bild:</th>
          <th class="thingbob bostadTableHeader">Info:</th>
          <th class="bostadTableHeader">Gå till:</th>
        </tr>
        <tr ng-repeat="model in bostadModels | filter:bostadFilters | prisFilter:bostadPrisFilter.prisKlass | yta_m2Filter:bostadYta_m2Filter.yta_m2Klass">
          <td class="bostadTableTitle">{{model.post.title}}</td>
          <td><img ng-src="{{model.media[0].source}}" class="img-responsive img-thumbnail"></td>
          <td class="thingbob bostadTableContent"><div ng-bind-html="model.post.excerpt"></div></td>
          <td class="bostadTableContent"><button class="btn btn-sm btn-default bostadGoBtn" ng-click="goTo('bostad/'+model.post.slug)">Mer info</button></td>
        </tr>
      </table>
    </div>

  </div>
</section>