<div class="col-xs-12 col-sm-12  col-md-12 col-lg-12">
  <h2>{{bostad.post.title}}</h2>
  <carousel interval="carouselInterval" class="container-fluid" style="height:700px; overflow:visible;">
    <slide ng-repeat="media in bostad.media" active="media.active">
      <img ng-src="{{media.source}}" style="margin:auto;" class="img-responsive">
      <div class="carousel-caption">
        <h4>{{media.title}}</h4>
      </div>
    </slide>
  </carousel>
  <div ng-bind-html="bostad.post.content"></div>
</div>