<section class="container-fluid ">
  <div class="row">

    <h2>{{bostad.post.title}}</h2>
    <section class="col-xs-12 col-sm-10 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
      <table class="table">
      <tr>
        <th class="dataHedear" ng-repeat="(key,val) in bostad.bostadData">{{key | lowercase}}</th>
      </tr>
      <tr>
        <td ng-repeat="(key,val) in bostad.bostadData">{{val}}</td>
      </tr>
    </table>
    <div class="bostadContent" ng-bind-html="bostad.post.content"></div>
  </section>

   <section class="col-xs-12 col-sm-10 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 carousel">
      <carousel interval="carouselInterval" class="container-fluid">
        <slide ng-repeat="media in bostad.media" active="media.active">
          <img ng-src="{{media.source}}" style="margin:15px auto 0;" class="img-responsive img-rounded">
          <div class="carousel-caption">
            <!-- <h4>{{media.title}}</h4> -->
          </div>
        </slide>
      </carousel>
    </section>
  </div>
</section>