<section class="container">
  <div class="row">

    <section style="height:500px;" class="col-xs-12 col-sm-10 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
      <carousel interval="carouselInterval">
        <slide ng-repeat="media in mediaItems" active="media.active">
          <img ng-src="{{media.source}}" style="margin:auto;" class="img-responsive">
        </slide>
      </carousel>
    </section>

    <article class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
      <h2>{{page.title}}</h2>
      <div class="content" ng-bind-html="page.content"></div>
    </article>


  </div>
</section>

