<!-- using ng-class to add classes conditionally -->
<li ng-repeat="link in menuLinks" ng-class="{true: 'dropdown', false:''}[link.children.length > 0]">

  <!-- If not "Home" make a normal menu link -->
  <a href="" ng-click="goTo('pages/'+link.url)" ng-if="link.url != ''">{{link.title}}</a>
  <!-- But if menu link is "Home" replace with house icon -->
  <a href="" class="glyphicon glyphicon-home" ng-click="goTo('pages/'+link.url)" ng-if="link.url == ''"></a>

  <!-- End/start of recursive view!
      Note: Still no controller assigned!
  -->
  <ul class="dropdown-menu" ng-if="link.children.length > 0" ng-include="partialsDir+'views/menuRecursor.html'" ng-init="menuLinks = link.children">
  </ul>
</li>

